# This is a manually triggered action workflow.
# It uses Packer at latest version to init, validate and build
# an example configuration in a folder.
# This action is compatible with Packer v1.7.0 or later.
name: test plugin example

on:
  workflow_dispatch:
    inputs:
      logs:
        description: 'Set 1 to activate full logs'
        required: false
        default: '0'
      folder:
        description: 'Example folder'
        required: false
        default: './example'

env:
  PACKER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PACKER_VERSION: "latest"

jobs:
  build:
    runs-on: ubuntu-latest
    name: init and build example
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        id: setup
        with:
          version: ${{ env.PACKER_VERSION }}

      - name: Init
        id: init
        run: packer init ${{ github.event.inputs.folder }}

      - name: Validate
        id: validate
        run: packer validate ${{ github.event.inputs.folder }}
        env:
          PACKER_LOG: ${{ github.event.inputs.logs }}

      # - name: Build
      #   id: build
      #   run: packer build ${{ github.event.inputs.folder }}
      #   env:
      #     PACKER_LOG: ${{ github.event.inputs.logs }}

